/*----------------------------------------------------------
    File Name  : _admin-pages.scss
    Desc       : File ini merupakan styling untuk Admin Pages

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * 1. Library Use
 * 2. Login & Register Page
 *
 */


 @use '../abstracts/variables' as var;
 @use '../abstracts/mixins' as mix;
 
/*----------------------------------------------------------
1. Library Use Start
------------------------------------------------------------*/ 
.splide__slide img {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    object-fit: cover;
}
/*----------------------------------------------------------
1. Library Use End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
2. Login & Register Page Start
------------------------------------------------------------*/ 

.login.wrapper {
    overflow-y: scroll;
    height: 100vh;
    padding: 30px 0px;
    
    @include mix.xl {
        overflow-y: hidden;
    }

    & > div {
        overflow: scroll;
        height: fit-content;
        border-radius: 25px;
        padding: 20px 0px;

        
        @include mix.xl {
            overflow: hidden;
            height: 85vh;
            border-radius: 25px;
            padding: 0px;
        }
        .right-side {
            height: 95%;
            margin-left: 0px;
            overflow-y: scroll;
            padding: 0px 20px;
            &::-webkit-scrollbar {
                display: none;
            }
            
            @include mix.lg {
                padding: 0px 50px;
            }
            
            @include mix.xl2 {
                margin-left: 350px; 
                width: 63%;
            }
        
            @include mix.xl3 {
                margin-left: 420px; 
            }
        }

    }
    
}


.bg-contact-wrap {
    padding: 20px;
    height: 90%;
    width: 400px; 
    position: fixed; 
    z-index: 1; 
    @include mix.xl2 {
        width: 350px; 
    }

    @include mix.xl3 {
        width: 420px; 
    }

}

.bg-contact {
    background-color: var.$bg-primary-login-fusion;
    border-radius: 25px;
    height: 95%;
}

.forgot-login {
    font-size: 13px;
}

.title-side-login {
    font-size: 36px;
    
    @include mix.xl2 {
        font-size: 36px;
    }
    
    @include mix.xl3 {
        font-size: 48px;
    }
}
.title-side-login-small {
    font-size: 24px;
    
    @include mix.xl2 {
        font-size: 28px;
    }
    
    @include mix.xl3 {
        font-size: 30px;
    }
}

/*----------------------------------------------------------
2. Login & Register Page End
------------------------------------------------------------*/ 


